- content_for :title, "Editing post"

== render 'form'

= link_to 'Show', @post, class: "waves-effect waves-light btn", style: "margin-right: 10px"
= link_to 'Back', posts_path, class: "waves-effect waves-light btn"

